
body{
  background-color: rgb(226, 223, 223);
}
.paper{
  
  display: flex;
  flex-direction: row;
}
.paper1{
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;

  margin-top: 100px;
  margin-top: 100px;

}
.heading{
  display: flex;
  flex-direction: row;
}
.heading h1{
margin-left: 40px;
  font-size: small;
}
.heading h2{
    font-size: small;
    margin-left: 1000px;
}
 .subheading p  {
  margin-left: 40px;

     margin-top: 10px;
     margin-bottom: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.subhead h1{
  margin-left: 40px;
  text-transform: uppercase;
  font-size: 100px;
  align-items:center;
}
.firstrow{    
  display: flex;
  flex-direction: row;
}

.firstcol h4{
  margin-left: 40px;

background-color: red;
display: inline;
}
.firstcol h1{
  margin-left: 40px;

}
.firstcol p{
  margin-left: 40px;

}
.secondcol img{
  
  margin-right: 40px;
  width: 1000px;
  height: 700px;
  
}
.secondrow{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
}
.secondrow img{

  width: 400px;
}
.firstcolumn img,h1,p{
  margin-left: 40px;
}
.secondcolumn h1,p,img{

  margin-left: 20px;
  margin-right: 20px;
}
.secondcolumn p{
border-bottom: 2px solid black;
}
.secondcolumn h6{

  color: red;
  font-size: 20px;
  text-align: center;
}
.thirdcolumn img,h1,p{
margin-right: 40px;
}
.bottom{
  display: flex;
  flex-direction: row;
}
.bottom h1{
    font-size: small;
}
.bottom h2{
    font-size: small;
    margin-left: 1000px;
}
.paper2{
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
     margin-top: 100px;
    margin-top: 100px;  
  }
  
.head h1{
  margin-left: 40px;
      font-size: small;
    }
    .head h2{
        font-size: small;
        margin-left: 1000px;
    }
     .sub p  {
      margin-left: 40px;
  
         margin-top: 10px;
         margin-bottom: 10px;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }
  .row1{
      display: flex;
      flex-direction: row;
      border-bottom: 2px solid black;
  }
  .col5{
      
      display: flex;
      flex-direction: row;
  }
  .col2 img{
      width: 500px;
      height: 900px;
  }
  .row2{
      display: flex;
      flex-direction: row;
      border-bottom: 2px solid black;
  }
  .column2 img{
      margin-bottom: 20px;
      width: 800px;
      height: 550px;
  }
  .row3{
      
      display: flex;
      flex-direction: row;
      border-bottom: 2px solid black;
  }
  .cols3 img{
      width: 500px;
      height: 400px;
  }
  .col1 p{
      margin-left: 40px;
  }
  .x h3{
      margin-left: 40px;
 
  }
  .column1 p{
      margin-left: 40px;

  }
  .cols1 h4,p{
      margin-left: 40px;

  }
  
  .cols2 h3,p{
      margin-left: 40px;

  }
  .cols3 {
      margin-right: 20px;
 
  }
  .cols1 h4{
      background-color: red;
      display: inline-block;
  }
  .cols2 h3{
      color: red;
border-top: 2px solid black;
border-bottom: 2px solid black;

  }