i{
    font-size: 100px;
    }
    body{
      color: white;
    }
    .col-2{
      margin-left: 10px;
      margin-right: 10px;
    }
    .col-4{
      margin-left: 80px;
    }
    .col-6{
      color: black;
      align-items: center;
      background-color: rgb(245, 210, 158);
      margin-left: 12px;
      border-radius: 10px;
    }
    
    